<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
  <title>edit user page</title>
</head>
<body ng-app = 'myApp'>
<div ng-controller = 'edituserCtrl'>
<form method='post' action=''>
  <h3>Edit User:</h3>
    <label>First Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="fName" ng-disabled=true placeholder="First Name" value="{{fName}}">
  <br>
    <label>Last Name:</label>
    <input class="w3-input w3-border" type="text" ng-model="lName" ng-disabled=true placeholder="Last Name">
  <br>
    <label>Password:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw1" placeholder="Password">
  <br>
    <label>Repeat:</label>
    <input class="w3-input w3-border" type="password" ng-model="passw2" placeholder="Repeat Password">
  <br>
  <label>Title:</label>
    <input class="w3-input w3-border" type="text" ng-model="title" placeholder="Title">
  <br>
  <label>Age:</label>
    <input class="w3-input w3-border" type="text" ng-model="age" placeholder="Age">
  <br>
  <label>Sex:</label>
    <div class="w3-input w3-border" type="radio" >
    <input type="radio" ng-model="sex" name="gender" value="male" checked> Male<br>
    <input type="radio" ng-model="sex" name="gender" value="female"> Female<br>
    </div>
  <br>
  <button class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete" ng-click="save()">&#10004; Save Changes </button>
  
</form>
</div>
<script type="text/javascript">
var app = angular.module("myApp",[]);
app.controller('edituserCtrl', function($scope, $http) {
  $http.get();

   $scope.test = function() {
      if ($scope.passw1 !== $scope.passw2 || isNaN($scope.age)) {
        $scope.error = true;
      } else {
        $scope.error = false;
      }

      if (!$scope.fName.length || !$scope.lName.length || !$scope.passw1.length || !$scope.passw2.length || !$scope.title.length || !$scope.age.length || !$scope.sex.length ) {
         $scope.incomplete = true;
      } else {
        $scope.incomplete = false;
      }
      console.log("error=" + $scope.error);
      console.log("incomplete=" + $scope.incomplete);
    };

    $scope.$watch('passw1', function(val) { $scope.test() });
    $scope.$watch('passw2', function(val) { $scope.test() });
    $scope.$watch('fName', function(val) { $scope.test() });
    $scope.$watch('lName', function(val) { $scope.test() });
    $scope.$watch('title', function(val) { $scope.test() });
    $scope.$watch('age', function(val) { $scope.test() });
    $scope.$watch('sex', function(val) { $scope.test() });


    $scope.save = function() {
      var request = $http.get("/usernamesweb/saveedituserpage")
      .then(function(response)
      {
        var users = response.data;
      });
    };

});

</script>

</body>
</html>
